<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dotnetcore_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Website Template</title>
    <!-- links to the css page and bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    

</head>
<body style="margin-bottom:0px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding-left:5px; height:84px;">
            <div class="container" style="margin-left:5px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                    <img src="~/Images/Logo.png" style="height:74px; width:150px; transform:translate(-10px,-30px);" />

                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #9AD3D7; font-size: 30px; transform:translateX(-20px); ;">𝓖𝓻𝓮𝓮𝓽 𝓨𝓸𝓾𝓻 𝓶𝓮𝓮𝓽</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" >
                        <li class="nav-item" onmouseover="this.style.backgroundColor='#9AD3D7';" onmouseout="this.style.backgroundColor='#fff';" style="border-radius:10px; transform:translate(-30px,0px)">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="margin-left:0px;">Home</a>
                        </li>

                        <li style=" z-index: 1000; list-style: none outside none;">
                            <div class="row" style="transform:translate(-16px,9px);">
                                <div class="dropdown col-sm-6 ">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'" style="border:none; color:black; background-color:#fff;">
                                        Festivals
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Christmas</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Diwali</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Easter</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">EID</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Ganesh Chaturthi</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Others</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li style=" z-index: 1000; list-style: none outside none;">
                            <div class="row" style="transform:translate(-10px,9px)">
                                <div class="dropdown col-sm-6 ">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'" style="border:none; color:black; background-color:#fff;">
                                        Celebrations
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Birthday</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">NewYear</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Marriage</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Anniversary</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Other</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                        <li style=" z-index: 1000; list-style: none outside none;">
                            <div class="row" style="transform:translate(-7px,9px)">
                                <div class="dropdown col-sm-6 ">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'" style="border:none; color:black; background-color:#fff;">
                                        Cards
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Marriage Invitation Cards</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">House Warming Cards</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Best Wishes Cards</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Speedy Recovery cards</a>
                                        <a class="dropdown-item" href="#" onMouseOver="this.style.backgroundColor='#9AD3D7'" onMouseOut="this.style.backgroundColor='#fff'">Other cards</a>

                                    </div>
                                </div>
                            </div>
                        </li>

                    





                        <li class="nav-item" onmouseover="this.style.backgroundColor='#9AD3D7';" onmouseout="this.style.backgroundColor='#fff';" style="border-radius:10px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-weight:500;">support</a>
                        </li>

                        





                        <li>
                            <form class="form-inline" style="transform:translate(0px,8px)">
                                <div class="form-group">
                                    <label class="sr-only"></label>

                                </div>
                                <div class="form-group">
                                    <label for="inputPassword2" class="sr-only">Password</label>
                                    <input type="Search" class="form-control" id="inputPassword2" placeholder="Search" style="width:150px; margin-left:30px;">
                                </div>

                            </form>
                        </li>
                        <li>
                            <a href="/Home/Sigin" class="btn btn-success" style="margin-left:30px; margin-right:20px">Sigin</a>
                        </li>

                        <li>
                            <a href="/Home/Sigup" class="btn btn-primary" style="margin-left:10px; margin-right:20px">Signup</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>















    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @*slider starts*@


    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" style="width:1350px; height:600px;">
        @*Carousel indicators*@
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        @*Carousel items*@
        <div class="carousel-inner">
            <div class="item active">
                <p style="text-align:center">
                    <img src="~/Images/S1.jpg" alt="First Slide" style="height:600px; width:900px;">
                </p>

                <div class="carousel-caption">
                    <h3>Independence Day</h3>
                    <p>BLAH</p>
                </div>
            </div>
            <div class="item">
                <center><img src="~/Images/S2.jpg" alt="Second Slide" style="height:600px; width:1100px"></center>
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <center><img src="~/Images/S4.jpg" alt="Second Slide" style="height:600px; width:1100px"></center>
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
        @*Carousel nav*@
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


    @*slider ends*@

    <div style="height:30px; width:1440px; background-color:lightyellow;">

    </div>

    <div style="height:120px; width:1440px; background-color:lightyellow;">
        <br />
        <h4 style="text-align: center; color:#5861a2;  font-size: 24px; font-weight:bold;">UpComing Festivals ecards</h4>
        <p style="font-size:18px; color:#5861a2; text-align:center;">Choose a Card and Send to your Dear Ones</p>
    </div>

    <div style="height:40px; width:1440px; background-color:lightyellow;">

    </div>

    @*cards starts*@



    <div class="card-group" style="background-color:lightyellow;">

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/Ind2.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/Ind3.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" ; border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/Ind4.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" style=" border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/Ind5.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" style=" border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

    </div>



    @*cards ends*@

    <div style="height:100px; width:1440px; background-color:lightyellow;">
        <button class="btn btn-primary " style="transform:translate(620px,40px); border-radius:10px;  border-color:#fff;"> Show All cards</button>
    </div>

    @*2nd Section starts*@




    <div style="height:120px; width:1440px; background-color:lightyellow;">
        <br />
        <h4 style="text-align: center; color:#5861a2;  font-size: 24px; font-weight:bold;">Recent Festivals ecards</h4>
        <p style="font-size:18px; color:#5861a2; text-align:center;">Choose a Card and Send to your Dear Ones</p>
    </div>
    <div style="height:20px; width:1440px; background-color:lightyellow;">

    </div>


    @*cards starts*@



    <div class="card-group" style="background-color:lightyellow;">

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/F1.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/F2.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" ; border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/p3.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" style=" border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="~/Images/E1.jpg"
                         class="img-fluid" style="height:250px; width:310px;" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
                    <a href="#!" class="btn btn-primary" style=" border-color:#fff;">Send</a>
                </div>
            </div>
        </div>

    </div>



    @*cards ends*@

    <div style="height:100px; width:1440px; background-color:lightyellow;">
        <button class="btn btn-primary " style="transform:translate(620px,40px); border-radius:10px;  border-color:#fff;"> Show All cards</button>
    </div>






    @*2nd section ends here*@











    <div style="height:100px; width:1450px; background-color:lightyellow;">


    </div>

    @*Footer starts*@


    <footer class=" text-center text-white " style="background-color:#89bec2;">
        <!-- Grid container -->
        <div class="container p-4" style="background-color:#89bec2;">
            <!-- Section: Social media -->
            <section class="mb-4" style="padding-left:40px;">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-facebook"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-linkedin"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-github"></i>
                </a>
            </section>
            <!-- Section: Social media -->
            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2" style="padding-right:0px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="padding-right:40px; width:72px;">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                </svg>
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2"></label>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                        <!--Grid column-->
                        <p>
                            <br />
                        </p>
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->
            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    Best Wishes To You On This Happy Moment Of Your Life.
                </p>
            </section>
            <!-- Section: Text -->
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-3">


                        <ul class="list-unstyled mb-0" style="text-align:left; align-items:center;">
                            <li>
                                <a href="#!" class="text-white">Home</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Celebratons</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Festivals</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-3" style="text-align:left; align-items:center;">


                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">About us</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Privacy</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-3" style="text-align:left; align-items:center;">


                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Login</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Terms & Conditions</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Support</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3" style="text-align:left; align-items:center;">


                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">FAQ</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Unsubscribe</a>
                            </li>
                            <li>
                                <br />
                            </li>
                            <li>
                                <a href="#!" class="text-white">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #89bec2;">
            © 2020 Copyright:
            <p>Designed And Developed By Group-6</p>
        </div>
        <!-- Copyright -->
    </footer>


    @*footer ends*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>




</html>
