@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <i>e greetings</i> Page</h1>
    <h5>Best Wishes to you on this happy moment of your Life.</h5>
</div>
<p>Changes from local machine</p>